<form action="/submitted" enctype=multipart/form-data method="POST" onsubmit="showDiv('loading')">
    <input type="text" name="query" size="50" required><br>
    <input type="file" id="fileSelect" name="file" accept=".bin">
    <input type="submit" id="query_submit">
</form>